.four-section {
	@include fluidPaddingTop(100px, 200px, 1024px, 1620px);
	@include fluidPaddingBottom(120px, 254px, 1024px, 1620px);
	&__headline {
		display: flex;
		justify-content: center;
		margin: 0 0 77px;
		p {
			font-family: "Arial", sans-serif;
			font-size: 36px;
			font-style: italic;
			margin: 0 0 0 15px;
		}
	}
}

.cubes-wrap {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1620px) {
		@include fluidFontSize(10px, 16px, 1024px, 1620px);
	}
	.cube {
		width: 15.1875em;
		height: 15.1875em;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		color: #fff;
		@include fluidPadding(2px, 20px, 1024px, 1620px);
		position: relative;
		&-side {
			display: flex;
			flex-flow: column;
			align-items: center;
			font-family: "Arial", sans-serif;
			@include fluidFontSize(12px, 18px, 1024px, 1620px);
			line-height: 22px;
			span {
				text-transform: uppercase;
				font-family: "ArialNarrow", sans-serif;
			}
			a {
				color: #fff;
				text-decoration: underline;
			}
		}
		&__img {
			@include fluidWidth(40px, 77px, 1024px, 1620px);
			img {
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}
	.cube-1 {
		background: $accent;
		color: #000;
		bottom: 0;
		left: 0;
		animation: cube-1 2s cubic-bezier(0.42, 0.41, 1, 1);
		@keyframes cube-1 {
			from {
				bottom: -2.5em;
				left: 2.5em;
			}
			to {
				left: 0;
				bottom: 0;
			}
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 6.3125em;
			bottom: -2.5625em;
			right: -6.3125em;
			height: 17.6875em;
			clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 86%);
			background: #dfac03;
			animation: cube-1-b 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-1-b {
				from {
					width: 0;
					right: 0;
					clip-path: polygon(0% 0%, 100% 25%, 100% 86%, 0% 86%);
				}
				to {
					width: 6.3125em;
					right: -6.3125em;
					clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 86%);
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 21.5em;
			bottom: -2.5625em;
			right: -6.3125em;
			height: 2.5625em;
			clip-path: polygon(0% 0%, 71% 0%, 100% 100%, 35% 100%);
			background: #b88d00;
			animation: cube-1-a 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-1-a {
				from {
					height: 0;
					bottom: 0;
					clip-path: polygon(0% 0%, 71% 0%, 71% 100%, 35% 100%);
				}
				to {
					height: 2.5625em;
					bottom: -2.5625em;
					clip-path: polygon(0% 0%, 71% 0%, 100% 100%, 35% 100%);
				}
			}
		}
	}
	.cube-2 {
		background: $dark;
		bottom: 0;
		left: 1.25em;
		animation: cube-2 2s cubic-bezier(0.42, 0.41, 1, 1);
		@keyframes cube-2 {
			from {
				bottom: -2.5em;
				left: 2.5em;
			}
			to {
				left: 1.25em;
				bottom: 0;
			}
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 2.5625em;
			bottom: -2.5625em;
			right: -2.5em;
			height: 17.6875em;
			clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 86%);
			background: #3d3c3c;
			animation: cube-2-b 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-2-b {
				from {
					width: 0;
					right: 0;
					clip-path: polygon(0% 0%, 100% 25%, 100% 86%, 0% 86%);
				}
				to {
					width: 2.5625em;
					right: -2.5em;
					clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 86%);
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 17.75em;
			bottom: -2.5em;
			right: -2.5625em;
			height: 2.5em;
			clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 25% 100%);
			background: #303030;
			animation: cube-2-a 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-2-a {
				from {
					height: 0;
					bottom: 0;
					clip-path: polygon(0% 0%, 85% 0%, 85% 100%, 25% 100%);
				}
				to {
					height: 2.5em;
					bottom: -2.5em;
					clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 25% 100%);
				}
			}
		}
	}
	.cube-3 {
		background: $blue;
		bottom: 0;
		animation: cube-3 2s cubic-bezier(0.42, 0.41, 1, 1);
		@keyframes cube-3 {
			from {
				bottom: -2.5em;
			}
			to {
				bottom: 0;
			}
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 15.1875em;
			bottom: -2.5em;
			left: 0;
			height: 2.5em;
			clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
			background: #043a67;
			animation: cube-3-b 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-3-b {
				from {
					height: 0px;
					bottom: 0;
				}
				to {
					height: 2.5em;
					bottom: -2.5em;
				}
			}
		}
	}
	.cube-4 {
		background: $accent;
		color: #000;
		bottom: 0;
		left: -1.25em;
		animation: cube-4 2s cubic-bezier(0.42, 0.41, 1, 1);
		@keyframes cube-4 {
			from {
				bottom: -2.5em;
				left: -1.25em;
			}
			to {
				left: -1.25em;
				bottom: 0;
			}
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 2.5625em;
			bottom: -2.5625em;
			left: -2.5em;
			height: 17.6875em;
			clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 100%);
			background: #dfac03;
			animation: cube-4-b 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-4-b {
				from {
					width: 0;
					left: 0;
					clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 85%);
				}
				to {
					width: 2.5625em;
					left: -2.5em;
					clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 100%);
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 17.75em;
			bottom: -2.5em;
			left: -2.5625em;
			height: 2.5em;
			clip-path: polygon(14% 0%, 100% 0%, 70% 100%, 0% 100%);
			background: #b88d00;
			animation: cube-4-a 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-4-a {
				from {
					height: 0;
					bottom: 0;
					clip-path: polygon(14% 0%, 100% 0%, 70% 100%, 15% 100%);
				}
				to {
					height: 2.5em;
					bottom: -2.5em;
					clip-path: polygon(14% 0%, 100% 0%, 70% 100%, 0% 100%);
				}
			}
		}
	}
	.cube-5 {
		background: $dark;
		bottom: 0;
		left: 0;
		animation: cube-5 2s cubic-bezier(0.42, 0.41, 1, 1);
		@keyframes cube-5 {
			from {
				bottom: -2.5em;
				left: -2.5em;
			}
			to {
				left: 0;
				bottom: 0;
			}
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 6.3125em;
			bottom: -2.625em;
			left: -6.25em;
			height: 17.825em;
			clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 100%);
			background: #3d3c3c;
			animation: cube-5-b 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-5-b {
				from {
					width: 0;
					left: 0;
					clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 85%);
				}
				to {
					width: 6.3125em;
					left: -6.25em;
					clip-path: polygon(0 25%, 100% 0, 100% 85%, 0% 100%);
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 21.375em;
			bottom: -2.5625em;
			left: -6.125em;
			height: 2.5625em;
			clip-path: polygon(28% 0, 100% 0, 71% 100%, 0 100%);
			background: #303030;
			animation: cube-5-a 2s cubic-bezier(0.42, 0.41, 1, 1);
			@keyframes cube-5-a {
				from {
					height: 0;
					bottom: 0;
					clip-path: polygon(28% 0%, 100% 0%, 70% 100%, 28% 100%);
				}
				to {
					height: 2.5625em;
					bottom: -2.5625em;
					clip-path: polygon(28% 0, 100% 0, 71% 100%, 0 100%);
				}
			}
		}
	}
}

.six-section {
	padding: 112px 0 103px;
	@media (max-width: 1024px) {
		padding: 65px 0 150px;
	}
	.partners {
		background: #f5f5f5;
		padding: 111px 0 130px 80px;
		@include fluidPaddingTop(50px, 111px, 1024px, 1620px);
		@include fluidPaddingBottom(70px, 130px, 1024px, 1620px);
		@include fluidPaddingLeft(30px, 80px, 1024px, 1620px);
		@include fluidPaddingLeft(0px, 40px, 320px, 1024px);
		@include fluidPaddingTop(3px, 70px, 320px, 1024px);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			height: 3px;
			width: 117px;
			background: $accent;
			top: -43px;
			left: -14px;
			transform: translateX(-50%);
			@media (max-width: 1024px) {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			height: 56px;
			width: 3px;
			background: $accent;
			top: -67px;
			left: -43px;
			transform: translateX(100%);
			@media (max-width: 1024px) {
				display: none;
			}
		}
		&__headline {
			margin: 0 0 50px;
			h2 {
				margin: 0 0 33px;
				@media (max-width: 568px) {
					line-height: 36px;
					margin: 0 0 7px;
				}
			}
			p {
				@include fluidFontSize(18px, 24px, 1024px, 1620px);
				font-family: "Arial", sans-serif;
				font-style: italic;
				@media (max-width: 568px) {
					font-size: 14px;
				}
			}
		}
		&__img {
			@include fluidWidth(800px, 1300px, 1024px, 1620px);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -120px;
			img {
				width: 100%;
			}
			@media (max-width: 1024px) {
				@include fluidWidth(400px, 800px, 568px, 1024px);
				right: -15%;
				bottom: 37%;
				top: auto;
				transform: translateY(50%);
			}
			@media (max-width: 568px) {
				@include fluidWidth(370px, 400px, 320px, 568px);
				bottom: 30%;
			}
		}
		&__logo {
			position: absolute;
			border-radius: 100%;
			width: 220px;
			height: 220px;
			box-shadow: 1px 2px 49px 2px rgba(0, 0, 0, 0.42);
			background-color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 50%;
			transform: translateY(50%) translateX(50%);
			right: 13%;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		.btn-wrap {
			@media (max-width: 1024px) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -25%;
			}
			@media (max-width: 568px) {
				bottom: -40%;
			}
		}
	}
}
